
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  text-align: center;
  padding: 1.2rem;

  background-color: var(--cor-card-fundo);
  border-top: 1px solid var(--cor-borda);
  color: var(--cor-texto);

  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  z-index: 10;
}

footer p {
  margin: 0;
}

footer a {
  color: var(--cor-texto);
  font-weight: bold;
}
